/* Enter your custom styles here */
.page {
    background-color: white !important;
}
.textDescription {
    font-size: 11px !important;
}






.infoColor {
	color : #800000 !important;

}

.redColor {
    position: absolute;
    top: 10px;
    font-weight: 600;
    color: red !important;
 }


.RaiseRequestButton .sapMBtnInner {
    background-color: #8A2BE2;
    color: #FFFFFF;
    font-weight: bold;
}

.dataPointsColor {
	color : purple !important;
    font-weight: 400;
    font-size: 20px !important;

}

.dataValuePendingColor {
	color : #FFBF00 !important;
    font-weight: 400;
    font-size: 20px !important;

}
.dataValueApprovedColor {
	color : #107e3e !important;
    font-weight: 400;
    font-size: 20px !important;

}
.dataValueRejectColor {
	color : #b00 !important;
    font-weight: 400;
    font-size: 20px !important;

}
.dataValueCancelledColor {
    color : #b00 !important;
    font-weight: 400;
    font-size: 20px !important;

}


.dataPointsColorPending {
	color : #ffba10 !important;
   

}

.dataPointsColorApproved {
	color : #107e3e !important;
   

}

.dataPointsColorCancelled {
	color : #b00 !important;
    

}


.dataPointsColorRejected {
	color : #b00 !important;
    

}







.ListIcon {
    color : #8A2BE2;
    }

.redColor {
    position: absolute;
    top: 10px;
    font-weight: 600;
    color: red !important;
}

.buttonInfo{
    width: 2px;
}